@media (max-width:720px) and (min-width:400px){
    header {
        background-size: cover;
        text-align: center;
    }
    
    .menu>div {
        display: none;
    }
    
    .menu ~ div ul li a {
        font-size: max(2.2vw, 10px);

    }
    .menu ~ div ul li span a {
        font-size: max(1.8vw, 10px);
        padding: 2.3vw 3.2vw 2.5vw 3.5vw;

    }
    .header_menu {
        padding-top: min(4.2vw, 30px);
        padding-left: min(4.2vw,30px);
        padding-right: min(4.2vw,30px);
    }
    .creatives h1 {
        font-size: max(6.5vw,42px);
        padding: 0px 5vw 0vw 5vw;
        letter-spacing: 1vw;
    }
    .logo {
        display: flex;
        width: 17vw;
        min-width: 70px;
    }
    .grid1 p, .grid4 p {
        font-size: max(2vw, 9px);
    }
    .grid5 div div, .grid6 div div {
        padding: 0vw 6vw 0vw 6vw;
    }
    .grid5 div div p, .grid6 div div p {
        font-size: 1.7vw;
        line-height: 2.7vw;
    }
    .testimonials {
        justify-content: start;
        padding: 8vw 2vw;
        height: max-content;
    }
    .testimonials div {
        flex-direction: column;
        row-gap: 9vw;
    }
    .testimonials h2 {
        font-size: max(3.4vw,20px);
        margin: 0vw 0vw 7vw 0vw;
    }
    .testimonials div picture img {
        width: 12%;
        min-width: 48px;
        margin-bottom: 4vw;
    }
    .testimonials div section p {
        margin-bottom: 0px;
    }
    .testimonials div section h3 {
        margin-bottom: 1vw;

    }
    .testimonials div section legend {
        font-size: 2vw;
    }
}