@media (max-width:399px) and (orientation: portrait) {
    @import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:wght@700;900&family=IBM+Plex+Sans+Thai+Looped:wght@100;200;300;400;500;600;700&family=Rajdhani:wght@300;400;500;600;700&display=swap');
:root {
    --Darkblue: hsl(198, 62%, 26%); /* Fotography text */
    --Softred: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    --Darkdesaturatedcyan: hsl(167, 40%, 24%); /* Graphic design text */
    --Darkmoderatecyan: hsl(168, 34%, 41%); /* fOOTEr */
    --Verydarkdesaturatedblue: hsl(212, 27%, 19%);
    --Verydarkgrayishblue: hsl(213, 9%, 39%);
    --Darkgrayishblue: hsl(232, 10%, 55%);
    --Grayishblue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);
    --Greenfooter: #3d8677;
    --Barlow: 'Barlow', sans-serif;
    --Fraunces: 'Fraunces', serif;
    scroll-behavior:smooth;
}
* {
    box-sizing: border-box;
    margin: 0 0;
    padding: 0 0;
    column-gap: 0px;
    row-gap: 0px;
}
* ul {
    list-style: none;
}
* a {
    text-decoration: none;
}
    header {
        background-size: cover;
        height: 88vh;
    }
    .header_menu {
        display: flex;
        justify-content: space-between;
        padding: 30px 30px 10px;
        align-items: flex-start;
    }
    .menu {
        display: flex;
        flex-direction: column;
        align-items: end;
        position: absolute;
        right: 24px;
    }
    .menu>div {
        width: 7vw;
        display: flex;
        flex-direction: column;
    }
    .menu:hover ~ div#menu-flotante {
        display: flex;
        flex-direction: column;
    }
    #menu-flotante {
        top: 15vh;
        left: calc(50vw - 85vw/2);
        display: none;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 87vw;
        position: absolute;
        height: 35vh;
        background: var(--White);
        z-index: 1;
    }
    #menu-flotante ul {
        display: flex;
        flex-direction: column;
        row-gap: 5vh;
    }
    #menu-flotante ul li > a {
        font-size: max(2.2vw, 15px);
        color: var(--Greenfooter);
        font-weight: 500;
    }
    .menu ~ div ul li span a {
        font-size: 4vw;
    padding: 4.3vw 6.2vw 4.5vw 6.5vw;
        background: #f7da0c;
    }
    .header_menu {
        padding-left: min(6.2vw,30px);
        padding-right: min(6.2vw,30px);
    }
    .creatives h1 {
        font-size: 10.2vw;
        padding: 0px 5vw 0vw 5vw;
        letter-spacing: 1vw;
        text-align: center;
    }
    .logo {
        display: flex;
        width: 32vw;
    }
    .grid1 p, .grid4 p {
        font-size: max(2vw, 9px);
    }
    .grid5 div div, .grid6 div div {
        padding: 0vw 6vw 0vw 6vw;
    }
    .grid5 div div p, .grid6 div div p {
        font-size: 1.7vw;
        line-height: 2.7vw;
    }
    .testimonials div {
        flex-direction: column;
        row-gap: 23px;
    }
    .testimonials h2 {
        font-size: max(3.4vw,20px);
    }
    .testimonials div picture img {
        width: 12%;
        min-width: 48px;
        margin-bottom: 0vw;
    }
    .testimonials div section p {
        margin-bottom: 0px;
    }
    .testimonials div section h3 {
        margin-bottom: 0vw;

    }
    .testimonials div section legend {
        font-size: 2vw;
    }
}